<h1>Music lookup</h1>
<h3>Brought to you by MusicBrainz & Cover Art Archive</h3>
<form action="/" method="post">
	<input type="text" name="artist_name" placeholder="Artist Name"  />
	<input type="text" name="disc_title" placeholder="Album/Disc title"  />
	<input type="submit" />
</form>
</br></br>

<table>
	<tr>
		<th>Artist</th>
		<th>Album/Disc</th>
	</tr>

<% @all_historical_query_results.reverse_each do |artist| %>
	<tr>
		<% artist_ar = artist.chomp.split(", ") %>
		<td><%= artist_ar[0] %></td>
		<td><%= artist_ar[1] %></td>
	</tr>
<% end %>
</table>

